body{
    background-image: url("bkg.jpg");
    background-repeat: no-repeat;
}
.whole-container{
    height:500px;
    width:65%;
    background-image: url("student.jpg");
    background-size:cover;
    display:grid;
    direction: rtl;
    grid-template-columns: 30% 70%;
}
.overlay{
    border-width:1px;
    border-style:solid;
    border-image-source:linear-gradient(hsl(240 100% 50% / .3), hsl(0 100% 50% / .3));
    border-image-slice:fill 1;
}
.info{
    /* border:2px solid red; */
    box-shadow:2px 2px 2px rgb(12, 12, 12);
    height:250px;
    background-color: rgb(46, 104, 162);
}
ul{
    direction: ltr;
    text-align:left;
    list-style-type: none;
    color:rgba(255, 255, 255, 0.888);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.photo{
    background-image: url(photo1.jpg);
    height:100px;
    width:100px;
    background-size: cover;
    /* border-radius: 50% 50%; */
    box-shadow: 3px 3px rgb(3, 3, 72);
}
.text{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(243, 239, 13);
}
.right{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.input{
    margin-bottom:90px;
}
button{
    background-color: #13a7e7;
}
/* .................ratings........................ */
:root{
    --primary:#181736;
    --secondary:#2a2866;
    --text-color:#fff;
}
.app{
    min-height:10vh;
    background-color: var(--primary);
    display:grid;
    place-items:center;
    direction: ltr;
    color:white;
}
.rating{
    display:flex;
    align-items:center;
}
.rating__progress-value{
    display:flex;
    justify-content:space-between;
    margin-left:0.8em;
    p{
        margin: 0px;
    }
}
.progress{
    width:400px;
    height:10px;
    display:flex;
    justify-content:safe;
    padding-top: 4px;
    column-gap: 2px;
    p{
        font-size: 0.7em;
    }
}
.bar{
    border:5px solid gold;
    background-color:gold;
    justify-content:flex-start;
    border-radius:5px;
    box-shadow: 1px 1px 2px gold;
}
/* ....................circles........................... */
.circles{
    display:flex;
    justify-content: space-between;
    gap: 50px;
}
.outer-circle{
    width: 100px;
    height:100px;
    background-image:conic-gradient(rgb(0, 255, 60) 0deg, rgb(0, 255, 60) 270deg,rgb(4,44,84) 270deg,rgb(4,44,84) 360deg);
    border-radius:50%;
    position:relative;
}
.inner-circle{
    width:50%;
    height:50%;
    background-color:var(--primary);
    top:25%;
    right:25%;
    transform: scale(1.6);
    border-radius:50%;
    position:absolute;
    p{
    margin-top:30%;
    }
}